DEBUG=false
DATABASE_PATH=./data/purchase_orders.db
NOTIFICATION_RETRY_INTERVAL=30000
PORT=3000
NOTIFICATION_EMAIL_FROM=noreply@example.com
NOTIFICATION_SMTP_HOST=localhost
NOTIFICATION_SMTP_PORT=1025
